/* main_page.css */

/* Navbar stil ayarları */
header {
    background-color: #345bdb;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Profil butonu stil ayarları */
.profil-buton {
    background-color: #333;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Profil butonunu sağ üste taşıma */
header .profil-buton {
    margin-right: 20px; /* Sağa bir mesafe bırakır */
    margin-left: auto; /* Diğer tüm öğelerden sağa taşır */
}

/* Ana içerik stil ayarları */
main {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

/* Footer stil ayarları */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Footer metin stil ayarları */
footer p {
    font-size: 14px;
}
