

body{
    font-family: Nunito;
}

header {
    background-color: #345bdb;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profil-buton {
    background-color: #c9abab;
    color: #b92c2c;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}


header .profil-buton {
    margin-right: 20px;
    margin-left: auto; 
}


main {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


footer p {
    font-size: 14px;
}


.cikis-buton {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cikis-buton:hover {
    background-color: #cc0000;
}


.profil-buton {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    display: flex;
    align-items: center; 
}

.profil-buton i {
    margin-right: 5px;
}

.profil-buton:hover {
    background-color: #2980b9; 
}
