*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: Nunito;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.register-container{
    margin:auto;
}

.form{
    position: relative;
    background: white;
    height: auto;
    margin: auto;
    margin: auto;
    padding: 30px;
    text-align: center;
    border: 3px solid orange;
    border-radius: 2%;
    box-sizing: border-box;
}

.form input{
    outline: 1;
    width: 100%;
    background: white;
    border: 1px solid orange;
    border-radius: 10px;
    margin: 0 0 20px;
    padding: 15px;
    box-sizing: border-box;
    font-size:12px;
    text-align: center;
    
}

.uye-ol-button{
    outline: 0;
    background-color: orange;
    width: 100%;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.uye-ol-button:hover{
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.uyelik-sozlesme-checkbox:checked{
background: orange;
}

.alert-danger{
    color:red;
    margin-top: 10px;
    text-align: center;
}

.alert-success{
    color:green;
    margin-top: 10px;
    text-align: center;
}

.mesajlar {
    margin-top: 60px;
    text-align: center;
}